@media screen and (max-width: 1200px) {
 .bg-homepage-1 #theme-section {
  margin-top: 20px;
 }
 .bg-homepage-1 #theme-section .first-theme{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 34px;
 }
 .bg-homepage-1 #theme-section .second-theme{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 34px;
 }
}