.admin-panel-announcement {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 80vh;
}

.sidelink-admin {
 color: #000;
}

.sidelink-admin:hover {
 background-color: #0d6efd;
 color: #fff;
}

.original-link {
 word-wrap: break-word;
}