.table-linktree {
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;

 .container-table {
  width: 60%;
 }
}

//create page
.card-create-link {
 padding: 30px 50px 100px;
}